.upgrade-recommendation-popover
  .popover-override
  .pf-v5-c-popover__close
  .pf-v5-c-button.pf-m-plain {
  color: #151515;
}

.upgrade-recommendation-popover
  .popover-override
  .pf-v5-c-popover__close
  .pf-v5-c-button.pf-m-plain:hover {
  color: #000;
}

.migration-chart-info-trigger {
  padding: 0;
  min-width: 0;
  margin-left: 0.25rem;
}

.migration-chart-info-trigger.pf-c-button {
  padding: 0;
  min-width: 0;
  margin-left: 0.25rem;
}
